REPO/ch.txg.b2c.aodocs.sl.sh/Schemas/SearchDocument/ParseID.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/ParseID" xmlns:tns="http://www.example.org/ParseID" elementFormDefault="qualified">


	<xs:element name="JSON" type="tns:JSONType"/>
	<xs:complexType name="JSONType">
		<xs:sequence>
			<xs:element name="documents" type="tns:documentsType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="documentsType">
		<xs:all>
			<xs:element name="id" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
</xs:schema>



