REPO/ch.txg.dms.int5160.bsl.sh/Schemas/AODocsGateway_120_API_dms_files.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="/T1597245863829Converted/JsonSchema" xmlns:tns="/T1597245863829Converted/JsonSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="BaseErrorAndDocumentId" type="tns:BaseErrorAndDocumentId"/>
    <xs:complexType name="BaseErrorAndDocumentId">
        <xs:sequence>
            <xs:element name="errorCode" type="xs:string"/>
            <xs:element name="errorText" type="xs:string"/>
            <xs:element minOccurs="0" name="documentID" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AccountsReceivableDocument_currency" type="tns:AccountsReceivableDocument_currency"/>
    <xs:simpleType name="AccountsReceivableDocument_currency">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_file_firstPublishingDate" type="tns:FilesRequest_file_firstPublishingDate"/>
    <xs:simpleType name="FilesRequest_file_firstPublishingDate">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountsReceivableDocument_refundESR" type="tns:AccountsReceivableDocument_refundESR"/>
    <xs:simpleType name="AccountsReceivableDocument_refundESR">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountsReceivableDocument_reason" type="tns:AccountsReceivableDocument_reason"/>
    <xs:simpleType name="AccountsReceivableDocument_reason">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountResponse_documentID" type="tns:AccountResponse_documentID"/>
    <xs:simpleType name="AccountResponse_documentID">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountsReceivableDocumentCreationResult_documentLink" type="tns:AccountsReceivableDocumentCreationResult_documentLink"/>
    <xs:simpleType name="AccountsReceivableDocumentCreationResult_documentLink">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountsReceivableDocument_refundIBAN" type="tns:AccountsReceivableDocument_refundIBAN"/>
    <xs:simpleType name="AccountsReceivableDocument_refundIBAN">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_general_remoteFilePath" type="tns:FilesRequest_general_remoteFilePath"/>
    <xs:simpleType name="FilesRequest_general_remoteFilePath">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_file_products" type="tns:FilesRequest_file_products"/>
    <xs:complexType name="FilesRequest_file_products">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FilesRequest_file_products" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="FilesRequest_general_binariesFolderName" type="tns:FilesRequest_general_binariesFolderName"/>
    <xs:simpleType name="FilesRequest_general_binariesFolderName">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountsReceivableDocument_extCustIdGoldbach" type="tns:AccountsReceivableDocument_extCustIdGoldbach"/>
    <xs:simpleType name="AccountsReceivableDocument_extCustIdGoldbach">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_sales_firstName" type="tns:FilesRequest_sales_firstName"/>
    <xs:simpleType name="FilesRequest_sales_firstName">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_customer_name2" type="tns:FilesRequest_customer_name2"/>
    <xs:simpleType name="FilesRequest_customer_name2">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_agency_name" type="tns:FilesRequest_agency_name"/>
    <xs:simpleType name="FilesRequest_agency_name">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_sales_companyCode" type="tns:FilesRequest_sales_companyCode"/>
    <xs:simpleType name="FilesRequest_sales_companyCode">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountRequest_account_adSuiteCustomerNumber" type="tns:AccountRequest_account_adSuiteCustomerNumber"/>
    <xs:simpleType name="AccountRequest_account_adSuiteCustomerNumber">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_customer_goldbachId" type="tns:FilesRequest_customer_goldbachId"/>
    <xs:simpleType name="FilesRequest_customer_goldbachId">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountsReceivableDocument_documentID" type="tns:AccountsReceivableDocument_documentID"/>
    <xs:simpleType name="AccountsReceivableDocument_documentID">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountsReceivableDocument_amount" type="tns:AccountsReceivableDocument_amount"/>
    <xs:simpleType name="AccountsReceivableDocument_amount">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountsReceivableDocument_docNumber" type="tns:AccountsReceivableDocument_docNumber"/>
    <xs:simpleType name="AccountsReceivableDocument_docNumber">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_file_contractNumbers_items" type="tns:FilesRequest_file_contractNumbers_items"/>
    <xs:simpleType name="FilesRequest_file_contractNumbers_items">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountsReceivableDocument_intercompanyAffiliate" type="tns:AccountsReceivableDocument_intercompanyAffiliate"/>
    <xs:simpleType name="AccountsReceivableDocument_intercompanyAffiliate">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountsReceivableDocument_barterContractID" type="tns:AccountsReceivableDocument_barterContractID"/>
    <xs:simpleType name="AccountsReceivableDocument_barterContractID">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountsReceivableDocument_transDateTime" type="tns:AccountsReceivableDocument_transDateTime"/>
    <xs:simpleType name="AccountsReceivableDocument_transDateTime">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountRequest_address" type="tns:AccountRequest_address"/>
    <xs:complexType name="AccountRequest_address">
        <xs:sequence>
            <xs:element minOccurs="0" name="zipCode" type="xs:string"/>
            <xs:element minOccurs="0" name="city" type="xs:string"/>
            <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
            <xs:element minOccurs="0" name="email" type="xs:string"/>
            <xs:element minOccurs="0" name="preferredPhoneNumber" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="FilesRequest_email_to" type="tns:FilesRequest_email_to"/>
    <xs:simpleType name="FilesRequest_email_to">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest" type="tns:FilesRequest"/>
    <xs:complexType name="FilesRequest">
        <xs:sequence>
            <xs:element name="general">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="fileName" type="xs:string"/>
                        <xs:element minOccurs="0" name="marketingType">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="B2C"/>
                                    <xs:enumeration value="B2B"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="fileDownloadLink" type="xs:string"/>
                        <xs:element minOccurs="0" name="securityGroup" type="xs:string"/>
                        <xs:element minOccurs="0" name="remoteFilePath" type="xs:string"/>
                        <xs:element minOccurs="0" name="binaryFileName" type="xs:string"/>
                        <xs:element minOccurs="0" name="binariesFolderName" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="customer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="goldbachId" type="xs:string"/>
                        <xs:element minOccurs="0" name="adSuiteCustomerNumber" type="xs:string"/>
                        <xs:element name="customerType" type="xs:string"/>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element minOccurs="0" name="name2" type="xs:string"/>
                        <xs:element minOccurs="0" name="city" type="xs:string"/>
                        <xs:element minOccurs="0" name="zipCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="file">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="category">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Complaint"/>
                                    <xs:enumeration value="Contract"/>
                                    <xs:enumeration value="Correction"/>
                                    <xs:enumeration value="Correspondence"/>
                                    <xs:enumeration value="Motif"/>
                                    <xs:enumeration value="Offer"/>
                                    <xs:enumeration value="Order"/>
                                    <xs:enumeration value="Production Data"/>
                                    <xs:enumeration value="Publisher Report"/>
                                    <xs:enumeration value="Reservation"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="isMail" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="adSuiteOrderCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="adSuiteMotifCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="fileCreationDate" type="xs:string"/>
                        <xs:element minOccurs="0" name="isFinalMotif" type="xs:boolean"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="products" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="invoiceNumbers" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="contractNumbers" type="xs:string"/>
                        <xs:element minOccurs="0" name="firstPublishingDate" type="xs:string"/>
                        <xs:element minOccurs="0" name="lastPublishingDate" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="agency">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="goldbachId" type="xs:string"/>
                        <xs:element minOccurs="0" name="adSuiteCustomerNumber" type="xs:string"/>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element minOccurs="0" name="name2" type="xs:string"/>
                        <xs:element minOccurs="0" name="city" type="xs:string"/>
                        <xs:element minOccurs="0" name="zipCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="publisher">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="adSuiteCustomerNumber" type="xs:string"/>
                        <xs:element name="name" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sales">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="companyCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="firstName" type="xs:string"/>
                        <xs:element minOccurs="0" name="lastName" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="email">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="date" type="xs:string"/>
                        <xs:element name="from" type="xs:string"/>
                        <xs:element name="to" type="xs:string"/>
                        <xs:element name="subject" type="xs:string"/>
                        <xs:element minOccurs="0" name="archivedBy" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AccountResponse" type="tns:AccountResponse"/>
    <xs:complexType name="AccountResponse">
        <xs:sequence>
            <xs:element name="documentID" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="FilesRequest_customer_countryCode" type="tns:FilesRequest_customer_countryCode"/>
    <xs:simpleType name="FilesRequest_customer_countryCode">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_general_fileDownloadLink" type="tns:FilesRequest_general_fileDownloadLink"/>
    <xs:simpleType name="FilesRequest_general_fileDownloadLink">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_agency" type="tns:FilesRequest_agency"/>
    <xs:complexType name="FilesRequest_agency">
        <xs:sequence>
            <xs:element minOccurs="0" name="goldbachId" type="xs:string"/>
            <xs:element minOccurs="0" name="adSuiteCustomerNumber" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element minOccurs="0" name="name2" type="xs:string"/>
            <xs:element minOccurs="0" name="city" type="xs:string"/>
            <xs:element minOccurs="0" name="zipCode" type="xs:string"/>
            <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AccountsReceivableDocument_caseNumber" type="tns:AccountsReceivableDocument_caseNumber"/>
    <xs:simpleType name="AccountsReceivableDocument_caseNumber">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountsReceivableDocument_acquirerID" type="tns:AccountsReceivableDocument_acquirerID"/>
    <xs:simpleType name="AccountsReceivableDocument_acquirerID">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_file_products_items" type="tns:FilesRequest_file_products_items"/>
    <xs:simpleType name="FilesRequest_file_products_items">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_publisher" type="tns:FilesRequest_publisher"/>
    <xs:complexType name="FilesRequest_publisher">
        <xs:sequence>
            <xs:element name="adSuiteCustomerNumber" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="FilesRequest_email_date" type="tns:FilesRequest_email_date"/>
    <xs:simpleType name="FilesRequest_email_date">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_publisher_adSuiteCustomerNumber" type="tns:FilesRequest_publisher_adSuiteCustomerNumber"/>
    <xs:simpleType name="FilesRequest_publisher_adSuiteCustomerNumber">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountsReceivableDocument_transID" type="tns:AccountsReceivableDocument_transID"/>
    <xs:simpleType name="AccountsReceivableDocument_transID">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_agency_name2" type="tns:FilesRequest_agency_name2"/>
    <xs:simpleType name="FilesRequest_agency_name2">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_file_contractNumbers" type="tns:FilesRequest_file_contractNumbers"/>
    <xs:complexType name="FilesRequest_file_contractNumbers">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FilesRequest_file_contractNumbers" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AccountsReceivableDocumentCreationFail_documentID" type="tns:AccountsReceivableDocumentCreationFail_documentID"/>
    <xs:simpleType name="AccountsReceivableDocumentCreationFail_documentID">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="BaseError_errorText" type="tns:BaseError_errorText"/>
    <xs:simpleType name="BaseError_errorText">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_file_adSuiteMotifCode" type="tns:FilesRequest_file_adSuiteMotifCode"/>
    <xs:simpleType name="FilesRequest_file_adSuiteMotifCode">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_agency_city" type="tns:FilesRequest_agency_city"/>
    <xs:simpleType name="FilesRequest_agency_city">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_email_archivedBy" type="tns:FilesRequest_email_archivedBy"/>
    <xs:simpleType name="FilesRequest_email_archivedBy">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_customer_adSuiteCustomerNumber" type="tns:FilesRequest_customer_adSuiteCustomerNumber"/>
    <xs:simpleType name="FilesRequest_customer_adSuiteCustomerNumber">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_file" type="tns:FilesRequest_file"/>
    <xs:complexType name="FilesRequest_file">
        <xs:sequence>
            <xs:element name="category">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Complaint"/>
                        <xs:enumeration value="Contract"/>
                        <xs:enumeration value="Correction"/>
                        <xs:enumeration value="Correspondence"/>
                        <xs:enumeration value="Motif"/>
                        <xs:enumeration value="Offer"/>
                        <xs:enumeration value="Order"/>
                        <xs:enumeration value="Production Data"/>
                        <xs:enumeration value="Publisher Report"/>
                        <xs:enumeration value="Reservation"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="isMail" type="xs:boolean"/>
            <xs:element minOccurs="0" name="adSuiteOrderCode" type="xs:string"/>
            <xs:element minOccurs="0" name="adSuiteMotifCode" type="xs:string"/>
            <xs:element minOccurs="0" name="fileCreationDate" type="xs:string"/>
            <xs:element minOccurs="0" name="isFinalMotif" type="xs:boolean"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="products" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="invoiceNumbers" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="contractNumbers" type="xs:string"/>
            <xs:element minOccurs="0" name="firstPublishingDate" type="xs:string"/>
            <xs:element minOccurs="0" name="lastPublishingDate" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="FilesRequest_email_from" type="tns:FilesRequest_email_from"/>
    <xs:simpleType name="FilesRequest_email_from">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountsReceivableDocumentCreationFail_errorText" type="tns:AccountsReceivableDocumentCreationFail_errorText"/>
    <xs:simpleType name="AccountsReceivableDocumentCreationFail_errorText">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountsReceivableDocumentCreationFail" type="tns:AccountsReceivableDocumentCreationFail"/>
    <xs:complexType name="AccountsReceivableDocumentCreationFail">
        <xs:sequence>
            <xs:element name="errorCode" type="xs:string"/>
            <xs:element name="errorText" type="xs:string"/>
            <xs:element minOccurs="0" name="documentID" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="FilesRequest_file_category" type="tns:FilesRequest_file_category"/>
    <xs:simpleType name="FilesRequest_file_category">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Complaint"/>
            <xs:enumeration value="Contract"/>
            <xs:enumeration value="Correction"/>
            <xs:enumeration value="Correspondence"/>
            <xs:enumeration value="Motif"/>
            <xs:enumeration value="Offer"/>
            <xs:enumeration value="Order"/>
            <xs:enumeration value="Production Data"/>
            <xs:enumeration value="Publisher Report"/>
            <xs:enumeration value="Reservation"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="AccountRequest_account_name" type="tns:AccountRequest_account_name"/>
    <xs:simpleType name="AccountRequest_account_name">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountRequest_general_fileName" type="tns:AccountRequest_general_fileName"/>
    <xs:simpleType name="AccountRequest_general_fileName">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_agency_zipCode" type="tns:FilesRequest_agency_zipCode"/>
    <xs:simpleType name="FilesRequest_agency_zipCode">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_agency_adSuiteCustomerNumber" type="tns:FilesRequest_agency_adSuiteCustomerNumber"/>
    <xs:simpleType name="FilesRequest_agency_adSuiteCustomerNumber">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesResponse_documentID" type="tns:FilesResponse_documentID"/>
    <xs:simpleType name="FilesResponse_documentID">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_agency_countryCode" type="tns:FilesRequest_agency_countryCode"/>
    <xs:simpleType name="FilesRequest_agency_countryCode">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountsReceivableDocument_originalLink" type="tns:AccountsReceivableDocument_originalLink"/>
    <xs:simpleType name="AccountsReceivableDocument_originalLink">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountsReceivableDocument_recipientCountry" type="tns:AccountsReceivableDocument_recipientCountry"/>
    <xs:simpleType name="AccountsReceivableDocument_recipientCountry">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_agency_goldbachId" type="tns:FilesRequest_agency_goldbachId"/>
    <xs:simpleType name="FilesRequest_agency_goldbachId">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_general_fileName" type="tns:FilesRequest_general_fileName"/>
    <xs:simpleType name="FilesRequest_general_fileName">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountsReceivableDocument" type="tns:AccountsReceivableDocument"/>
    <xs:complexType name="AccountsReceivableDocument">
        <xs:sequence>
            <xs:element name="docCategory">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Invoice"/>
                        <xs:enumeration value="CreditNote"/>
                        <xs:enumeration value="PayNote"/>
                        <xs:enumeration value="OnlineOrder"/>
                        <xs:enumeration value="Reminder"/>
                        <xs:enumeration value="Refund"/>
                        <xs:enumeration value="WriteOff"/>
                        <xs:enumeration value="Cancellation"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="docNumber" type="xs:string"/>
            <xs:element minOccurs="0" name="documentID" type="xs:string"/>
            <xs:element name="docDate" type="xs:string"/>
            <xs:element name="caseNumber" type="xs:string"/>
            <xs:element name="companyCode" type="xs:string"/>
            <xs:element minOccurs="0" name="companyName" type="xs:string"/>
            <xs:element minOccurs="0" name="recipientID" type="xs:string"/>
            <xs:element minOccurs="0" name="extCustIdGoldbach" type="xs:string"/>
            <xs:element minOccurs="0" name="extCustIdAdSuite" type="xs:string"/>
            <xs:element minOccurs="0" name="recipientName" type="xs:string"/>
            <xs:element minOccurs="0" name="recipientCountry" type="xs:string"/>
            <xs:element minOccurs="0" name="currency" type="xs:string"/>
            <xs:element minOccurs="0" name="amount" type="xs:string"/>
            <xs:element minOccurs="0" name="barterContractID" type="xs:string"/>
            <xs:element minOccurs="0" name="intercompanyAffiliate" type="xs:string"/>
            <xs:element minOccurs="0" name="orderLink" type="xs:string"/>
            <xs:element minOccurs="0" name="originalLink" type="xs:string"/>
            <xs:element minOccurs="0" name="refundName" type="xs:string"/>
            <xs:element minOccurs="0" name="refundIBAN" type="xs:string"/>
            <xs:element minOccurs="0" name="refundESR" type="xs:string"/>
            <xs:element minOccurs="0" name="merchantID" type="xs:string"/>
            <xs:element minOccurs="0" name="acquirerID" type="xs:string"/>
            <xs:element minOccurs="0" name="orderID" type="xs:string"/>
            <xs:element minOccurs="0" name="transID" type="xs:string"/>
            <xs:element minOccurs="0" name="transDateTime" type="xs:string"/>
            <xs:element minOccurs="0" name="reason" type="xs:string"/>
            <xs:element minOccurs="0" name="reminderCode" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="BaseErrorAndDocumentId_documentID" type="tns:BaseErrorAndDocumentId_documentID"/>
    <xs:simpleType name="BaseErrorAndDocumentId_documentID">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_general" type="tns:FilesRequest_general"/>
    <xs:complexType name="FilesRequest_general">
        <xs:sequence>
            <xs:element name="fileName" type="xs:string"/>
            <xs:element minOccurs="0" name="marketingType">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="B2C"/>
                        <xs:enumeration value="B2B"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="fileDownloadLink" type="xs:string"/>
            <xs:element minOccurs="0" name="securityGroup" type="xs:string"/>
            <xs:element minOccurs="0" name="remoteFilePath" type="xs:string"/>
            <xs:element minOccurs="0" name="binaryFileName" type="xs:string"/>
            <xs:element minOccurs="0" name="binariesFolderName" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AccountsReceivableDocument_extCustIdAdSuite" type="tns:AccountsReceivableDocument_extCustIdAdSuite"/>
    <xs:simpleType name="AccountsReceivableDocument_extCustIdAdSuite">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountsReceivableDocument_merchantID" type="tns:AccountsReceivableDocument_merchantID"/>
    <xs:simpleType name="AccountsReceivableDocument_merchantID">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountsReceivableDocument_reminderCode" type="tns:AccountsReceivableDocument_reminderCode"/>
    <xs:simpleType name="AccountsReceivableDocument_reminderCode">
        <xs:restriction base="xs:integer"/>
    </xs:simpleType>
    <xs:element name="AccountsReceivableDocument_orderLink" type="tns:AccountsReceivableDocument_orderLink"/>
    <xs:simpleType name="AccountsReceivableDocument_orderLink">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_customer_customerType" type="tns:FilesRequest_customer_customerType"/>
    <xs:simpleType name="FilesRequest_customer_customerType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountRequest_account_goldbachId" type="tns:AccountRequest_account_goldbachId"/>
    <xs:simpleType name="AccountRequest_account_goldbachId">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_sales" type="tns:FilesRequest_sales"/>
    <xs:complexType name="FilesRequest_sales">
        <xs:sequence>
            <xs:element name="companyCode" type="xs:string"/>
            <xs:element minOccurs="0" name="firstName" type="xs:string"/>
            <xs:element minOccurs="0" name="lastName" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AccountsReceivableDocument_companyCode" type="tns:AccountsReceivableDocument_companyCode"/>
    <xs:simpleType name="AccountsReceivableDocument_companyCode">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountRequest_general_marketingType" type="tns:AccountRequest_general_marketingType"/>
    <xs:simpleType name="AccountRequest_general_marketingType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="B2C"/>
            <xs:enumeration value="B2B"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="AccountsReceivableDocument_refundName" type="tns:AccountsReceivableDocument_refundName"/>
    <xs:simpleType name="AccountsReceivableDocument_refundName">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_customer_city" type="tns:FilesRequest_customer_city"/>
    <xs:simpleType name="FilesRequest_customer_city">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_file_invoiceNumbers" type="tns:FilesRequest_file_invoiceNumbers"/>
    <xs:complexType name="FilesRequest_file_invoiceNumbers">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FilesRequest_file_invoiceNumbers" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AccountsReceivableDocument_recipientID" type="tns:AccountsReceivableDocument_recipientID"/>
    <xs:simpleType name="AccountsReceivableDocument_recipientID">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="BaseErrorAndDocumentId_errorCode" type="tns:BaseErrorAndDocumentId_errorCode"/>
    <xs:simpleType name="BaseErrorAndDocumentId_errorCode">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountRequest_account" type="tns:AccountRequest_account"/>
    <xs:complexType name="AccountRequest_account">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element minOccurs="0" name="name2" type="xs:string"/>
            <xs:element name="customerType" type="xs:string"/>
            <xs:element minOccurs="0" name="goldbachId" type="xs:string"/>
            <xs:element minOccurs="0" name="adSuiteCustomerNumber" type="xs:string"/>
            <xs:element minOccurs="0" name="fileListLink" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="FilesRequest_file_invoiceNumbers_items" type="tns:FilesRequest_file_invoiceNumbers_items"/>
    <xs:simpleType name="FilesRequest_file_invoiceNumbers_items">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountsReceivableDocument_orderID" type="tns:AccountsReceivableDocument_orderID"/>
    <xs:simpleType name="AccountsReceivableDocument_orderID">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountsReceivableDocumentCreationResult_documentID" type="tns:AccountsReceivableDocumentCreationResult_documentID"/>
    <xs:simpleType name="AccountsReceivableDocumentCreationResult_documentID">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountRequest" type="tns:AccountRequest"/>
    <xs:complexType name="AccountRequest">
        <xs:sequence>
            <xs:element name="general">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="fileName" type="xs:string"/>
                        <xs:element minOccurs="0" name="marketingType">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="B2C"/>
                                    <xs:enumeration value="B2B"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="account">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element minOccurs="0" name="name2" type="xs:string"/>
                        <xs:element name="customerType" type="xs:string"/>
                        <xs:element minOccurs="0" name="goldbachId" type="xs:string"/>
                        <xs:element minOccurs="0" name="adSuiteCustomerNumber" type="xs:string"/>
                        <xs:element minOccurs="0" name="fileListLink" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="address">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="zipCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="city" type="xs:string"/>
                        <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="email" type="xs:string"/>
                        <xs:element minOccurs="0" name="preferredPhoneNumber" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="FilesRequest_customer_name" type="tns:FilesRequest_customer_name"/>
    <xs:simpleType name="FilesRequest_customer_name">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="BaseErrorAndDocumentId_errorText" type="tns:BaseErrorAndDocumentId_errorText"/>
    <xs:simpleType name="BaseErrorAndDocumentId_errorText">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_general_marketingType" type="tns:FilesRequest_general_marketingType"/>
    <xs:simpleType name="FilesRequest_general_marketingType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="B2C"/>
            <xs:enumeration value="B2B"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="FilesRequest_customer" type="tns:FilesRequest_customer"/>
    <xs:complexType name="FilesRequest_customer">
        <xs:sequence>
            <xs:element minOccurs="0" name="goldbachId" type="xs:string"/>
            <xs:element minOccurs="0" name="adSuiteCustomerNumber" type="xs:string"/>
            <xs:element name="customerType" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element minOccurs="0" name="name2" type="xs:string"/>
            <xs:element minOccurs="0" name="city" type="xs:string"/>
            <xs:element minOccurs="0" name="zipCode" type="xs:string"/>
            <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="BaseError" type="tns:BaseError"/>
    <xs:complexType name="BaseError">
        <xs:sequence>
            <xs:element name="errorCode" type="xs:string"/>
            <xs:element name="errorText" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="BaseError_errorCode" type="tns:BaseError_errorCode"/>
    <xs:simpleType name="BaseError_errorCode">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_file_lastPublishingDate" type="tns:FilesRequest_file_lastPublishingDate"/>
    <xs:simpleType name="FilesRequest_file_lastPublishingDate">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_publisher_name" type="tns:FilesRequest_publisher_name"/>
    <xs:simpleType name="FilesRequest_publisher_name">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesResponse" type="tns:FilesResponse"/>
    <xs:complexType name="FilesResponse">
        <xs:sequence>
            <xs:element name="documentID" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="FilesRequest_file_isFinalMotif" type="tns:FilesRequest_file_isFinalMotif"/>
    <xs:simpleType name="FilesRequest_file_isFinalMotif">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:element name="AccountRequest_general" type="tns:AccountRequest_general"/>
    <xs:complexType name="AccountRequest_general">
        <xs:sequence>
            <xs:element name="fileName" type="xs:string"/>
            <xs:element minOccurs="0" name="marketingType">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="B2C"/>
                        <xs:enumeration value="B2B"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AccountsReceivableDocument_recipientName" type="tns:AccountsReceivableDocument_recipientName"/>
    <xs:simpleType name="AccountsReceivableDocument_recipientName">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountRequest_account_customerType" type="tns:AccountRequest_account_customerType"/>
    <xs:simpleType name="AccountRequest_account_customerType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountsReceivableDocumentCreationResult" type="tns:AccountsReceivableDocumentCreationResult"/>
    <xs:complexType name="AccountsReceivableDocumentCreationResult">
        <xs:sequence>
            <xs:element name="documentID" type="xs:string"/>
            <xs:element name="documentLink" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="FilesRequest_email_subject" type="tns:FilesRequest_email_subject"/>
    <xs:simpleType name="FilesRequest_email_subject">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_general_securityGroup" type="tns:FilesRequest_general_securityGroup"/>
    <xs:simpleType name="FilesRequest_general_securityGroup">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_sales_lastName" type="tns:FilesRequest_sales_lastName"/>
    <xs:simpleType name="FilesRequest_sales_lastName">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_customer_zipCode" type="tns:FilesRequest_customer_zipCode"/>
    <xs:simpleType name="FilesRequest_customer_zipCode">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_email" type="tns:FilesRequest_email"/>
    <xs:complexType name="FilesRequest_email">
        <xs:sequence>
            <xs:element name="date" type="xs:string"/>
            <xs:element name="from" type="xs:string"/>
            <xs:element name="to" type="xs:string"/>
            <xs:element name="subject" type="xs:string"/>
            <xs:element minOccurs="0" name="archivedBy" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="FilesRequest_file_isMail" type="tns:FilesRequest_file_isMail"/>
    <xs:simpleType name="FilesRequest_file_isMail">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:element name="AccountsReceivableDocument_companyName" type="tns:AccountsReceivableDocument_companyName"/>
    <xs:simpleType name="AccountsReceivableDocument_companyName">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_file_fileCreationDate" type="tns:FilesRequest_file_fileCreationDate"/>
    <xs:simpleType name="FilesRequest_file_fileCreationDate">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountsReceivableDocument_docCategory" type="tns:AccountsReceivableDocument_docCategory"/>
    <xs:simpleType name="AccountsReceivableDocument_docCategory">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Invoice"/>
            <xs:enumeration value="CreditNote"/>
            <xs:enumeration value="PayNote"/>
            <xs:enumeration value="OnlineOrder"/>
            <xs:enumeration value="Reminder"/>
            <xs:enumeration value="Refund"/>
            <xs:enumeration value="WriteOff"/>
            <xs:enumeration value="Cancellation"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="AccountsReceivableDocument_docDate" type="tns:AccountsReceivableDocument_docDate"/>
    <xs:simpleType name="AccountsReceivableDocument_docDate">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AccountsReceivableDocumentCreationFail_errorCode" type="tns:AccountsReceivableDocumentCreationFail_errorCode"/>
    <xs:simpleType name="AccountsReceivableDocumentCreationFail_errorCode">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_file_adSuiteOrderCode" type="tns:FilesRequest_file_adSuiteOrderCode"/>
    <xs:simpleType name="FilesRequest_file_adSuiteOrderCode">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="FilesRequest_general_binaryFileName" type="tns:FilesRequest_general_binaryFileName"/>
    <xs:simpleType name="FilesRequest_general_binaryFileName">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
</xs:schema>
