REPO/ch.txg.b2c.aodocs.sl.sh/Schemas/changeDocumentState/changeDocumentState_schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:tns="http://ch/txg/b2c/aodocs/sl/changeDocumentState"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	targetNamespace="http://ch/txg/b2c/aodocs/sl/changeDocumentState">


	<xs:element name="InputChangeDocumentState">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" name="documentID" type="xs:string"/>
				<xs:element minOccurs="1" name="stateID" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>