REPO/ch.txg.core.customfunctions.common.sh/Schemas/PDFAPropertyExtractor/RDF.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) --><xs:schema xmlns:tns="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
  <xs:import namespace="http://ns.adobe.com/xap/1.0/" schemaLocation="schema2.xsd"/>
  <xs:import namespace="http://ns.adobe.com/pdf/1.3/" schemaLocation="pdf13.xsd"/>
  <xs:import namespace="http://ns.adobe.com/xap/1.0/mm/" schemaLocation="schema4.xsd"/>
  <xs:import namespace="http://www.aiim.org/pdfa/ns/id/" schemaLocation="schema5.xsd"/>
  <xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="schema6.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="schema8.xsd"/>
  <xs:import namespace="http://ns.adobe.com/xap/1.0/sType/ResourceEvent#" schemaLocation="schema7.xsd"/>
  <xs:element name="RDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Description" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element xmlns:q1="http://ns.adobe.com/xap/1.0/" ref="q1:Identifier"/>
              <xs:element xmlns:q2="http://purl.org/dc/elements/1.1/" ref="q2:creator"/>
              <xs:element xmlns:q3="http://purl.org/dc/elements/1.1/" ref="q3:title"/>
              <xs:element xmlns:q4="http://purl.org/dc/elements/1.1/" ref="q4:description"/>
              <xs:element xmlns:q5="http://ns.adobe.com/xap/1.0/mm/" ref="q5:History"/>
              <xs:element xmlns:q11="http://ns.adobe.com/pdf/1.3/" ref="q11:Keywords"/>
            </xs:sequence>
            <xs:attribute ref="tns:about" use="required"/>
            <xs:attribute xmlns:q6="http://ns.adobe.com/xap/1.0/" ref="q6:CreatorTool" use="required"/>
            <xs:attribute xmlns:q7="http://ns.adobe.com/xap/1.0/" ref="q7:CreateDate" use="required"/>
            <xs:attribute xmlns:q8="http://ns.adobe.com/xap/1.0/" ref="q8:ModifyDate" use="required"/>
            <xs:attribute xmlns:q9="http://ns.adobe.com/xap/1.0/" ref="q9:MetadataDate" use="required"/>
            <xs:attribute xmlns:q10="http://ns.adobe.com/pdf/1.3/" ref="q10:Producer" use="required"/>
            <xs:attribute xmlns:q11="http://ns.adobe.com/pdf/1.3/" ref="q11:Keywords" use="required"/>
            <xs:attribute xmlns:q12="http://ns.adobe.com/xap/1.0/mm/" ref="q12:DocumentID" use="required"/>
            <xs:attribute xmlns:q13="http://ns.adobe.com/xap/1.0/mm/" ref="q13:VersionID" use="required"/>
            <xs:attribute xmlns:q14="http://www.aiim.org/pdfa/ns/id/" ref="q14:part" use="required"/>
            <xs:attribute xmlns:q15="http://www.aiim.org/pdfa/ns/id/" ref="q15:conformance" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:attribute name="about" type="xs:string"/>
  <xs:element name="Bag">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="li" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seq">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="li">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute xmlns:q16="http://ns.adobe.com/xap/1.0/sType/ResourceEvent#" ref="q16:action" use="optional"/>
                <xs:attribute xmlns:q17="http://ns.adobe.com/xap/1.0/sType/ResourceEvent#" ref="q17:parameters" use="optional"/>
                <xs:attribute xmlns:q18="http://ns.adobe.com/xap/1.0/sType/ResourceEvent#" ref="q18:softwareAgent" use="optional"/>
                <xs:attribute xmlns:q19="http://ns.adobe.com/xap/1.0/sType/ResourceEvent#" ref="q19:when" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Alt">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="li">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute ref="xml:lang" use="required"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
