REPO/ch.txg.core.customfunctions.common.sh/Schemas/PDFAPropertyExtractor/schema7.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://ns.adobe.com/xap/1.0/sType/ResourceEvent#" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ns.adobe.com/xap/1.0/sType/ResourceEvent#" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:attribute name="action" type="xs:string" />
  <xs:attribute name="parameters" type="xs:string" />
  <xs:attribute name="softwareAgent" type="xs:string" />
  <xs:attribute name="when" type="xs:dateTime" />
</xs:schema>