REPO/ch.txg.core.customfunctions.common.sh/Schemas/PDFAPropertyExtractor/schema6.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) --><xs:schema xmlns:tns="http://purl.org/dc/elements/1.1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://purl.org/dc/elements/1.1/">
  <xs:import namespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#" schemaLocation="RDF.xsd"/>
  <xs:element name="creator">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.w3.org/1999/02/22-rdf-syntax-ns#" ref="q1:Seq"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="title">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://www.w3.org/1999/02/22-rdf-syntax-ns#" ref="q2:Alt"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="description">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://www.w3.org/1999/02/22-rdf-syntax-ns#" ref="q3:Alt"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
