REPO/ch.txg.core.customfunctions.common.sh/Schemas/PDFAPropertyExtractor/schema2.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) --><xs:schema xmlns:tns="http://ns.adobe.com/xap/1.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ns.adobe.com/xap/1.0/">
  <xs:import namespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#" schemaLocation="RDF.xsd"/>
  <xs:attribute name="CreatorTool" type="xs:string"/>
  <xs:attribute name="CreateDate" type="xs:dateTime"/>
  <xs:attribute name="ModifyDate" type="xs:dateTime"/>
  <xs:attribute name="MetadataDate" type="xs:dateTime"/>
  <xs:element name="Identifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.w3.org/1999/02/22-rdf-syntax-ns#" ref="q1:Bag"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
